
<div>
  <button (click)="onPreviousMonth()"> Previous </button>
  <span> {{ calendarCreator.getMonthName(monthNumber) }} &nbsp; {{ year }} </span>
  <button (click)="onNextMonth()"> Next </button>
</div>

<br>

<div class="calendar">
  <button *ngFor='let weekDay of weekDaysName' class="day">
    <div *ngIf="weekDay === 'Su'; else elseBlock">{{weekDay}}</div>
    <ng-template #elseBlock>{{ weekDay }}</ng-template>
  </button>

  <button *ngFor='let day of monthDays; let i = index' class="day">
    <a *ngIf="date1.getDate() === + day.number && date1.getMonth() === day.monthIndex && date1.getFullYear() === day.year; else elseBlock" style="background-color:rgb(255, 0, 0);">{{ day.number }} </a>
    <ng-template #elseBlock>{{ day.number }} </ng-template>
    
  </button>
</div>
